.register-container input {
  width: 100%;
  padding: 0.8rem 1rem;
  border-radius: 1rem;
  outline: none;
  border: 0.1rem solid orange;
  font-size: 1.6rem;
}

.register-container button {
  width: 100%;
  padding: 0.8rem 1rem;
  border-radius: 1rem;
  border: none;
  background-color: orange;
  color: white;
  font-family: arial;
  font-weight: 700;
  font-size: 1.6rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .register-container form:hover {
    border: none;
    box-shadow: none;
  }
}